@model IEnumerable<Person>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}

<style>
    th, td {
        text-align: center;
        vertical-align: middle !important;
    }

    p {
        min-width: max-content;
    }
</style>

<div class="container m-0">
    <div class="mt-1">
        <a href="~/admin/person/add" class="btn btn-primary">Add</a>
    </div>
    <div class="mt-3 w-100">
        <table class="table table-bordered table-hover w-100 centering">
            <thead class="table-info">
                <tr>
                    <th>№</th>
                    <th><p class="p-0 m-0">Full Name</p></th>
                    <th><p class="p-0 m-0">Birth Date</p></th>
                    <th><p class="p-0 m-0">Address</p></th>
                    <th><p class="p-0 m-0">Email</p></th>
                    <th><p class="p-0 m-0">Description</p></th>
                    <th><p class="p-0 m-0">Profile Image</p></th>
                    <th><p class="p-0 m-0">CV</p></th>
                    <th><p class="p-0 m-0">Position Name</p></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (index, item) in Model.Select((value, i) => (i + 1, value)))
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.FullName</td>
                        <td>@item.BirthDate.ToString("dd/MM/yyyy") </td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.Description</td>
                        <td> <img src="@("~/Image/"+@item.ProfilPath)" asp-append-version="true" width="100px" height="100px" /></td>
                        <td><a href="~/CV/@item.CvPath" download>Yüklə</a></td>
                        <td>@item.Position.Name</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Person", new {id = item.ID}, new{ @class="btn btn-danger"})</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Person", new {id = item.ID}, new{ @class="btn btn-success"})</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
