@model IEnumerable<Position>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    th, td {
        text-align: center;
        vertical-align: middle !important;
    }
</style>

@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}

<div class="container p-0">
    <div class="mt-1">
        <a href="~/admin/position/add" class="btn btn-primary">Add</a>
    </div>
    <div class="mt-3 w-100">
        <table class="table table-bordered table-hover w-100">
            <thead class="table-info">
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (index, item) in Model.Select((value, i) => (i + 1, value)))
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.Name</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Position", new {id = item.ID}, new{ @class="btn btn-danger"})</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Position", new {id = item.ID}, new{ @class="btn btn-success"})</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>